<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
          <div class="card-category">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <% end %>
        </div>
      <%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

