<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Add your ingredients:</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient , collection: Ingredient.all %>
        <%= f.input :description %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
